<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">


	<loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true" xdt:Transform="Replace">
		<listeners>
			<add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" rollFileExistsBehavior="Increment" rollInterval="Day" formatter="Text Formatter" rollSizeKB="5024" traceOutputOptions="DateTime, Timestamp, Callstack" fileName="S:\logs\ShoppingCart\SVC\CartService.log" timeStampPattern="yyyy-MM-dd" xdt:Transform="Replace" xdt:Locator="Match(fileName)" />
		</listeners>
		<formatters>
			<add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" template="Timestamp: {timestamp},Severity: {severity}, ThreadId:{win32ThreadId}{newline}Message: {message}" name="Text Formatter"/>
		</formatters>
		<categorySources>
			<add switchValue="All" name="General">
				<listeners>
					<add name="Rolling Flat File Trace Listener"/>
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events">
				<listeners>
					<add name="Rolling Flat File Trace Listener"/>
				</listeners>
			</allEvents>
			<notProcessed switchValue="All" name="Unprocessed Category"/>
			<errors switchValue="All" name="Logging Errors &amp; Warnings">
				<listeners>
					<add name="Rolling Flat File Trace Listener"/>
				</listeners>
			</errors>
		</specialSources>
	</loggingConfiguration>

	<appSettings>
		<add key="return_url" value="http://iqa.cartsvc.macmillanhighered.com/Gateway/CompleteTransaction.aspx"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="cancel_url" value="http://iqa.cartsvc.macmillanhighered.com/Gateway/CancelTransaction.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="error_url" value="http://iqa.cartsvc.macmillanhighered.com/Gateway/Error.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
	</appSettings> 
	<connectionStrings>		
		<add name="RAConn" connectionString="Data Source=HBEURASQL01;Initial Catalog=bfwusers;uid=BFWUsers;pwd=(BFW33);" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />		
	</connectionStrings>

	<system.serviceModel>
		<services>
			<service name="BFW.CartServices.CartService" behaviorConfiguration="Basic">
				<endpoint address="http://iqa.cartsvc.macmillanhighered.com/CartService.svc" binding="webHttpBinding" bindingConfiguration="webBinding" behaviorConfiguration="webBehavior" name="web" contract="BFW.CartServices.ICartService"
									 xdt:Transform="SetAttributes" xdt:Locator="Match(contract)" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="Basic">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="webBehavior">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
	</system.serviceModel>

</configuration>