<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="loggingConfiguration" requirePermission="true" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral"/>
		<section name="dataConfiguration" requirePermission="true" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral"/>
	</configSections>
	<loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
		<listeners>
			<add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" rollFileExistsBehavior="Increment" rollInterval="Day" formatter="Text Formatter" rollSizeKB="5024" traceOutputOptions="DateTime, Timestamp, Callstack" fileName="D:\logs\ShoppingCart\SVC\CartService.log" timeStampPattern="yyyy-MM-dd"/>
		</listeners>
		<formatters>
			<add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" template="Timestamp: {timestamp},Severity: {severity}, ThreadId:{win32ThreadId}{newline}Message: {message}" name="Text Formatter"/>
		</formatters>
		<categorySources>
			<add switchValue="All" name="General">
				<listeners>
					<add name="Rolling Flat File Trace Listener"/>
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events">
				<listeners>
					<add name="Rolling Flat File Trace Listener"/>
				</listeners>
			</allEvents>
			<notProcessed switchValue="All" name="Unprocessed Category"/>
			<errors switchValue="All" name="Logging Errors &amp; Warnings">
				<listeners>
					<add name="Rolling Flat File Trace Listener"/>
				</listeners>
			</errors>
		</specialSources>
	</loggingConfiguration>
	<system.web>
		<customErrors mode="Off"/>
		<!--<machineKey validationKey="286936A9BC986E9B17C4849DD94C1B9708DB8BC9779CB0F319950609B9D7309E9EEE0252B9AB301A1A4144224F00CDCCDDFC1BD120F4C525C852DFA5DF13852E" decryptionKey="A0389CC379A0524965D74AA8B3E461EF293FF911D5224799647E09434AAF4A15" validation="SHA1" decryption="AES"/>-->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"  enableViewStateMac="false" enableViewState="false"  autoEventWireup="true"/>
	</system.web>
	<appSettings>
		<!-- START all fields for post from UI-->
		<add key="UserID" value="UserID"/>
		<add key="SiteID" value="SiteID"/>
		<add key="SchoolID" value="SchoolID"/>
		<add key="SchoolName" value="SchoolName"/>
		<add key="SchoolZip" value="SchoolZip"/>
		<add key="SchoolType" value="SchoolType"/>
		<add key="ReturnUI_URL" value="ReturnUI_URL"/>
		<add key="CancelUI_URL" value="CancelUI_URL"/>
		<add key="ItemCount" value="ItemCount"/>
		<add key="ProductType" value="ProductType"/>
		<!--to be removed-->
		<add key="ItemIDCollection" value="ItemIDCollection"/>
		<add key="ItemID" value="ItemID"/>
		<add key="PackageID" value="PackageID"/>
		<add key="ISBN" value="ISBN"/>
		<add key="Title" value="Title"/>
		<add key="Price" value="Price"/>
		<add key="ItemType" value="ItemType"/>
		<add key="DefaultSchoolID" value="0"/>
		<!-- END all fields for post from UI -->
		<!-- START PAYPAL parameters-->

		<add key="Paypal" value="https://www.sandbox.paypal.com/cgi-bin/webscr"/>
				<add key="business" value="sc_bus_1340997713_biz@macmillan.com"/>
		<add key="cmd" value="_cart"/>
		<add key="upload" value="1"/>

		<add key="notify_url" value="#"/>
		<add key="page_style" value="StudentCenter"/>
		<add key="cbt" value="You MUST click here to unlock your premium product"/>
		<add key="rm" value="2"/>
		<add key="no_shipping" value="1"/>
		<add key="return_url" value="http://dev.cartsvc.macmillanhighered.com/Gateway/CompleteTransaction.aspx"/>
		<add key="cancel_url" value="http://dev.cartsvc.macmillanhighered.com/Gateway/CancelTransaction.aspx"/>
		<add key="error_url" value="http://dev.cartsvc.macmillanhighered.com/Gateway/Error.aspx"/>
		<add key="PaypalStatus" value="Completed"/>
		<!-- END PAYPAL parameters-->
		<!-- START SP variable-->
		<add key="SP_GetCartProductList" value="dbo.usp_GetProductPriceList"/>
		<add key="SP_GetUserSitePackagesList" value="dbo.usp_GetSiteIDBaseURLPackageIDLevelOFAccess"/>
		<add key="SP_RecordTransaction" value="svc.uspEcommRecordTransaction"/>
		<add key="SP_RecordUserAssignments" value="svc.uspRecordUserAssignments"/>
		<add key="SP_GetPurchasedItemsByPaypal" value="dbo.uspGetSiteCartTrans"/>
		<add key="SP_GetOnyxSchoolsByZip" value="svc.uspGetOnyxSchoolsByZip"/>
		<add key="SP_TrialUserAssignments" value="svc.uspRecordTrialUserAssignments"/>
		<!-- END SP variable-->
	</appSettings>
	<connectionStrings>
		<add name="RAConn" connectionString="Data Source=192.168.78.29;Initial Catalog=bfwusers;uid=sa;pwd=ilsole;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="basicHttp" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"/>
			</basicHttpBinding>
			<webHttpBinding>
				<binding name="webBinding"/>
			</webHttpBinding>
		</bindings>
		<services>
			<service name="BFW.CartServices.CartService" behaviorConfiguration="Basic">
				<endpoint address="http://dev.cartsvc.macmillanhighered.com/CartService.svc" binding="webHttpBinding" bindingConfiguration="webBinding" behaviorConfiguration="webBehavior" name="web" contract="BFW.CartServices.ICartService"/>
				<!--	<endpoint address="http://localhost:58265/CartService.svc" binding="basicHttpBinding" contract="BFW.CartServices.ICartService"/>	-->
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="Basic">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="webBehavior">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
		</modules>
	</system.webServer>
</configuration>
